<div class="content">
  <div class="row">
    <div class="column">Название</div>
    <div class="column column--wide">Ссылка</div>
    <div class="column">Превью</div>
    <div class="column">Действия</div>
  </div>
  <div class="list">
    <div *ngIf="data.length === 0" class="empty">Данные отсутствуют</div>
    <cdk-virtual-scroll-viewport *ngIf="data.length > 0" [itemSize]="30" style="height: 100%;">
          <div class="row" *cdkVirtualFor="let item of data">
            <div class="column">{{item.name}}</div>
            <div class="column column--wide">{{item.url}}</div>
            <div class="column column--left">
              <img src="{{item.url}}" alt="{{item.name}}" 
              (mouseover)="handlerTooltip($event, item.name)"
              (mouseleave)="handlerTooltip($event, null)">
            </div>
            <div *ngIf="showTooltip === item.name" class="tooltip" [ngStyle]="{top: top, left: left, position: 'absolute'}">
                <img src="{{item.url}}">
            </div>
            <div class="column">
              <div *ngIf="service.filter === 'main'" 
                class="column-button" 
                title="Добавить/убрать"
                [ngClass]="item.isFavorite ? 'ico-favorite--active' : 'ico-favorite'"
                (click)="service.changeFilter(item, 'favorite')"></div>
              <div *ngIf="service.filter !== 'deleted'" title="Удалить" class="column-button ico-delete" (click)="service.changeFilter(item, 'deleted')"></div>
              <div *ngIf="service.filter === 'deleted'" title="Восстановить" class="column-button ico-restore" (click)="service.changeFilter(item, 'deleted')"></div>
            </div>
          </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
